.container.contact__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  section h1 {
    text-align: center;
    font-size: 60px;
  }
  
  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .contact__option {
    background-color: rgb(75, 143, 226);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    color: #f0f0f0;
  }
  
  .contact__option a {
    text-decoration: none;
    color: rgb(23, 101, 27);
  }
  
  .contact__option:hover {
    background-color: rgb(75, 143, 226);
    border-color: rgb(17, 34, 55);
  }
  
  .contact__option svg {
    font-size: 1.5rem;
  }
  
  /* ------------------FORM------------------------------ */
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    background-color: #0c0513;
    width: 40%;
    height: 60vh;
    border-radius: 10%;
    color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  form input {
    width: 50%;
    padding: 15px 10px;
    border-radius: 5px;
    outline: none;
    padding-inline-start: 20px;
  }
  
  form textarea {
    width: 50%;
    border-radius: 5px;
    outline: none;
    padding-inline-start: 20px;
    resize: none;
  }
  
  ::placeholder {
    text-align: center;
    font-size: 16px;
  }
  
  form button {
    color: #e8d4d4;
    font-size: 1.3rem;
    background: rgb(75, 143, 226);
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgb(75, 143, 226);
    color: #d4c0c0;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 450px) {
    .container.contact__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
  
    section h1 {
      text-align: center;
      font-size: 40px;
    }
  
    form {
      width: 80%;
      height: 60vh;
      border-radius: 20px;
      color: white;
      padding: 20px;
      margin-top: -20px;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    form {
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 460px) and (max-width: 768px) {
    form {
      width: 50%;
      height: 60vh;
      border-radius: 20px;
      color: white;
      padding: 20px;
      margin-top: -20px;
    }
  }
  